<div class="row-fluid">
    <div class="span3">
        Settings for: <%= @user.fullname %>
    </div><!--/span-->
    <div class="span9">
        <%= render 'form-edit' %>
    </div><!--/span-->
</div><!--/row-->