          <div class="hero-unit">
            <h1>Hello, Team!</h1>
            <p>Intro text</p>
            <p><%= link_to "Learn more &raquo;".html_safe, Post.first, :class => "btn btn-primary btn-large" %></p>
          </div>
