<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Supported Video Content Types</li>
        <% @post.supported_formats.each do |format| %>
            <li><%= format %></li>
        <% end %>
    </ul>
</div>
