      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav">
			<%= render 'sidebar-new' %>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
		  <%= render 'form' %>
        </div><!--/span-->
      </div><!--/row-->


