<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <%= render 'sidebar' %>
        </div>
        <div class="well">
            <%= render 'tagcloud' %>
        </div>
    </div>
    <div class="span9">
        <%= render 'grid' %>
    </div>
</div>