      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
			<%= render 'sidebar-show' %>
          </div><!--/.well -->
          <div class="well">
			<%= render 'comments-show' %>
          </div><!--/.well -->
          <div class="well">
			<%= render 'likes-show' %>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
		  <%= render 'main-show' %>
        </div><!--/span-->
      </div><!--/row-->
